@import url('typography.css');

h1 {
    font-family: 'Beth Ellen', cursive;
    font-size: 3rem;
}
span {
    font-size: 1.5rem;
    display: block;
    border-radius: .25rem;
}
.game-piece {
    cursor: pointer;
}

.normal-color {
    background-color: inherit;
}

.just-won-color {
    background-color: greenyellow;
    transition: background-color 1s ease;

}