@import url('https://fonts.googleapis.com/css?family=Beth+Ellen|Permanent+Marker&display=swap');

/* Extra small devices (portrait phones, less than 576px)
 * No media query for `xs` since this is the default in Bootstrap
 */

 html {
    font-size: 55%;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
    html {
        font-size: 100%;
    }
 }

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
    html {
        font-size: 100%;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
    html {
        font-size: 100%;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
    html {
        font-size: 100%;
    }

 }


* {
    font-family: 'Permanent Marker', cursive;
}